
.c1 {
    margin: 10px;
    text-align: center;
    
    font-size: 36px;
    background-position: center;
    color: rgb(141, 37, 19);
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: ''; /*this is what will be written within the image*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgb(51, 20, 189);
    background-image: linear-gradient(
        115deg,
        rgba(247, 64, 110, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


.c2 {
    margin: 100px;
    width: 180px;
    padding: 10px;
    background-color: rgb(132, 90, 248);
    font-size: 36px;
    background-position: center;
    color: rgb(217, 215, 243);
    
}

.fill {
    color: yellow;
}

.name {
    color: red;
}